@media screen and (max-width: 1285px) {
    #header {
        padding: 16px 2%;
    }

    section {
        padding: 90px 2%;
    }

    .home {
        grid-template-columns: 1fr;
        height: 95vh;
    }

    #menu-icon {
        display: inline-flex;
        align-items: center;
    }

    .navbar {
        position: absolute;
        top: -600px;
        right: 0;
        left: 0;
        width: 100%;
        background-color: var(--main-color);
        transition: 0.4s ease;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list li {
        width: 100%;
    }

    .nav-list li a {
        display: block;
        padding: 1rem;
        margin: 1rem;
        border-left: 2px solid var(--bg-color);
    }

    .nav-list li a:hover {
        background-color: var(--bg-color);
        color: var(--second-color);
    }

    .nav-list li a::before {
        display: none;
    }

    .navbar.active {
        top: 100%;
    }

    .sign-up {
        display: none;
    }
}

@media screen and (max-width: 840px) {
    :root {
        --big-font: 3.5rem;
    }

    .home-text h4 {
        font-size: 1.2rem;
    }

    .count ul li {
        font-size: 15px;
    }

    .count ul li span {
        font-size: 1.3rem;
    }

    .about {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .about-image {
        text-align: center;
    }
}

@media screen and (max-width: 670px) {
    :root {
        --big-font: 3rem;
    }

    .home {
        text-align: center;
        
    }

    .count ul {
        justify-content: center;
    }

    footer {
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 400px) {
    .services-content {
        grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    }

    :root {
        --big-font: 2.5rem;
        --h2-font: 2rem;
    }

    .home-text h4 {
        font-size: 15px;
    }

    .count ul li {
        font-size: 13px;
    }

    .count ul li span {
        font-size: 1.1rem;
    }

    .about-text h3 {
        font-size: 1rem;
    }
}